@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "ITCGaramond-BdNarrowIta";
  src: url("/fonts/ITCGaramondStd-BdNarrowIta.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "ITCGaramond-LtNarrow";
  src: url("/fonts/ITCGaramondStd-LtNarrow.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MendlSerif-Regular";
  src: url("/fonts/MendlSerif_Trial_DawnRg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MendlSerif-SemiBold";
  src: url("/fonts/MendlSerif_Trial_DawnSBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-neonGreen: #d6e149;
  --color-secondary: #36544a;
  --color-accent: #092421;
  --color-background: #d4d5cf;
  --color-brightGreen: #b5c9a1;

  --font-garamond-bd-narrow-ita: "ITCGaramond-BdNarrowIta", serif;
  --font-garamond-lt-narrow: "ITCGaramond-LtNarrow", serif;
  --font-mendl-regular: "MendlSerif-Regular", serif;
  --font-mendl-semibold: "MendlSerif-SemiBold", serif;
}
